header(class="header")
    div(class="container")
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="https://hrchannels.com/Upload/employer/logo/img000000017712.PNG" width="150px" height="50px" alt="logo")

            .col-9
                .inner-menu
                    ul
                        li
                            a(href="/home") Trang chu
                        li
                            a(href="/product") San pham